.bg-custom {
    --bs-bg-opacity: 1;
    background-color: rgba(4, 5, 33);
}
.form-control {
border: none;
background-color: rgba(4, 5, 33);
}
.nav-item > a {
    color: white;
}
.carousel-inner {
    height: 80vh;
}
.carousel-item {
    width: 100%;
}
.carousel-item > img {
    margin-top: -5rem;
}