.bg-custom {
    --bs-bg-opacity: 1;
    background-color: rgba(4, 5, 33);
}
.form-control {
border: none;
background-color: rgba(4, 5, 33);
}
.nav-item > a {
    color: white;
}
.carousel-inner {
    height: 80vh;
}
.carousel-item {
    width: 100%;
    position: relative;
}
.carousel-item > img {
    margin-top: -5rem;
    height: 150%;
}
.carousel-indicators {
    justify-content: flex-end;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-clip: padding-box;
    border: 3px solid white;
    background: none;
    transition: opacity .6s ease;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: #FFC67E;
    border: 3px solid #FFC67E;
}
h1.position-absolute {
    top: 13.4rem;
    left: 8.8rem;
    font-size: 5rem;
}
button.position-absolute {
    top: 24.0625rem;
    left: 8.8rem;
    font-size: 1.625rem;
    word-wrap: break-word;
    background-color: #FFC67E;
    border-radius: 50px;
    border: none;
    width: 13.2813rem;
    height: 4rem;
}