.bg-custom {
    --bs-bg-opacity: 1;
    background-color: rgba(4, 5, 33);
}
.form-control {
border: none;
background-color: rgba(4, 5, 33);
}
.nav-item > a {
    color: white;
}
.carousel-inner {
    height: 80vh;
}
.carousel-item {
    width: 100%;
}
.carousel-item > img {
    margin-top: -5rem;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-clip: padding-box;
    border: 3px solid white;
    background: none;
    transition: opacity .6s ease;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: #FFC67E;
    border: 3px solid #FFC67E;
}